extends ../layouts/base
include ../components/svg

block title
    | #{data.name || 'Empresa'} - R&S Jobs

block content

    - const company = { name: data.name, logo: data.logo, featured: data.featured }

    .container
        div(class="flex flex-col py-6 md:py-8")
            div(class="relative mb-[50px] lg:mb-[130px]")
                img(src=data.featuredImage, alt=`${data.name} banner`, class="w-full h-auto aspect-[366/100] lg:aspect-[1170/200] max-h-[200px] rounded-lg lg:rounded-2xl object-cover")
                div(class="absolute -bottom-7 lg:bottom-auto lg:top-[70%] left-1/2 lg:left-5 -translate-x-1/2 lg:translate-x-0 bg-white flex items-center justify-center rounded-full overflow-hidden w-[75px] h-[75px] lg:w-[150px] lg:h-[150px]")
                    img(src=data.logo, alt=`${data.name} logo`, class="w-[93%] h-[93%] rounded-full overflow-hidden object-contain")

            div(class="flex flex-col gap-[25px]")
                div(class="flex flex-col gap-3")
                    .flex.justify-between.items-center.gap-4.w-full
                        div(class="flex items-center gap-2 lg:gap-4 w-full")
                            h1(class="text-heading-mobile-3 lg:text-heading-desktop-3 font-bold")= data.name
                            if data.featured
                                div(class="text-legal-mobile lg:text-legal-desktop text-blue bg-blue/10 py-0.5 px-2 rounded-[3.3px]") Destacada
                        div(class="hidden lg:flex items-center justify-center gap-2")
                            each social in data.social
                                a(href=social.url, target="_blank", aria-label=`Seguir a ${data.name} en ${social.name}`)
                                    != fs.readFileSync(path.join(process.cwd(), 'public', 'assets', 'images', 'social', `${social.name.toLowerCase()}.svg`), 'utf8')

                    div(class="flex flex-wrap justify-center md:justify-start gap-x-2 gap-y-1 text-small-mobile lg:text-small-desktop")
                        if data.location
                            div(class="flex items-center gap-1.5")
                                div(class="flex items-center justify-center text-primary w-6 h-6")
                                    +svg('location', 'w-[14px] h-[20px]')
                                =data.location
                        if data.web
                            div(class="flex items-center gap-1.5")
                                div(class="flex items-center justify-center text-primary w-6 h-6")
                                    +svg('web', 'w-[20px] h-[20px]')
                                a(href=data.web, target="_blank")= data.web.replace('https://', '').replace('http://', '').replace('www.', '')
                        div(class="flex items-center gap-1.5")
                            div(class="flex items-center justify-center w-6 h-6 text-primary")
                                +svg('search', 'w-[17.5px] h-[17.5px]')
                            .font-bold
                                span(id="offers-number")
                                | &nbsp;ofertas publicadas
                div(class="flex flex-col gap-2")
                    h2.text-dark.font-bold Sobre la empresa
                    p(class="text-small-mobile lg:text-small-desktop text-gray")= data.description
                div(class="flex flex-col md:flex-row md:flex-wrap items-center justify-center gap-3")
                    each image in data.images
                        img(src=image, alt=`${data.name} image`, class="w-full md:max-w-[382px] h-auto aspect-[366/170] md:aspect-[382/250] rounded-lg object-cover")
                div(class="flex flex-col lg:hidden gap-3")
                    h2.text-secondary.font-bold.text-center ¡Sigue a #{data.name} en sus RRSS!
                    div(class="flex flex-wrap items-center justify-center gap-2")
                        each social in data.social
                            a(href=social.url, target="_blank")
                                != fs.readFileSync(path.join(process.cwd(), 'public', 'assets', 'images', 'social', `${social.name.toLowerCase()}.svg`), 'utf8')

                div(data-component="CompanyJobs" data-company=data.name)





