mixin jobCard(data)

    - const publishedAt = dayjs(data.job.publishedAt)
    - const recent = publishedAt.isAfter(dayjs().subtract(24, 'hours'))

    a(href=data.job.url class="bg-white shadow-md hover:shadow-lg transition-shadow rounded-lg p-4 md:flex md:items-start md:gap-4")
        img(src=data.company.logo alt=`${data.company.name} logo` class="w-[60px] h-[60px] hidden md:block")
        .flex.flex-col.gap-2
            .flex.items-start.justify-between.gap-4
                .flex.flex-grow.items-center.gap-2
                    img(src=data.company.logo alt=`${data.company.name} logo` class="w-[35px] h-[35px] md:hidden")
                    h3(class="text-primary text-caption-mobile md:text-caption-desktop")=data.company.name
                    if data.company.featured
                        span(class="text-blue bg-blue/10 px-2 py-[2px] rounded-lg text-legal-mobile md:text-legal-desktop") Destacada
                button(class="flex items-center justify-center w-6 h-6 md:hidden" aria-label="Guardar oferta")
                    img(src='/assets/images/heart.svg' alt='Corazón' class="w-[16px] h-[16px]")

            div(class="flex flex-col gap-1.5")
                h2.text-dark.font-bold=data.job.title
                div(class="flex gap-1 flex-wrap items-center text-legal-mobile md:text-legal-desktop")
                    each condition, index in data.job.conditions
                        span.text-gray=condition
                        span.text-gray |

                    span(class=`${recent ? 'text-green' : 'text-gray'}`)=publishedAt.fromNow()
                    if recent
                        span(class="text-green bg-green/10 px-2 py-[2px] rounded-[3px]") Nueva

            p(class="text-gray hidden md:block md:text-caption-desktop line-clamp-2")=data.job.description

            div(class="flex flex-wrap gap-4 items-center text-legal-mobile md:text-legal-desktop text-gray")
                .flex.items-center.gap-1
                    div(class="flex items-center justify-center w-4 h-4 md:w-[18px] md:h-[18px]")
                        img(src='/assets/images/location-icon.svg' alt='Ubicación' class="w-[9px] h-[13px] md:w-[10.5px] md:h-[15px]")
                    span=data.job.location
                .flex.items-center.gap-1
                    div(class="flex items-center justify-center w-4 h-4 md:w-[18px] md:h-[18px]")
                        img(src='/assets/images/wallet.svg' alt='Salario' class="w-[13.3px] h-[10.7px] md:w-[15px] md:h-[12px]")
                    span=data.job.salary
                div(class="items-center gap-1 hidden md:flex")
                    div(class="flex items-center justify-center w-4 h-4 md:w-[18px] md:h-[18px]")
                        img(src='/assets/images/briefcase.svg' alt='Categoría' class="w-auto h-auto")
                    span=data.job.category
        button(class="items-center justify-center w-6 h-6 hidden md:flex shrink-0" aria-label="Guardar oferta")
            img(src='/assets/images/heart.svg' alt='Corazón' class="w-5 h-[18.3px]")


