mixin companyCard(data)
    a(href=data.href class="bg-white rounded-lg overflow-hidden shadow-md")
        .relative
            img(src=data.image alt=data.title class="w-full h-[165px] sm:h-[250px] md:h-[165px] object-cover")
            div(class="absolute inset-0 bg-gradient-to-b from-dark/0 via-dark/0 to-dark from-0% via-52% to-52%")
            .flex.flex-wrap.gap-2.p-4.absolute.bottom-0.left-0
                each tag in data.tags
                    span(class="text-caption-mobile lg:text-caption-desktop font-bold text-white py-1.5 px-3 rounded-[32px] bg-white/35")=tag


        .bg-white.px-4.py-3.flex.items-center.justify-between.gap-4
            img(src=data.logo alt=`${data.title} logo` class="w-[30px] md:w-[35px] h-[30px] md:h-[35px] object-contain")
            h3(class="text-heading-mobile-4 lg:text-heading-desktop-4 font-bold text-dark flex-grow text-left")=data.title
            img(src='/assets/images/icons/arrow-right.svg' alt='Ver más' class="w-[7.5px] h-3 object-contain")
