mixin hero(data)
    - const hero = data.hero
    - const background = hero.background || ''

    // cambiar por el sistema de contenedor desde el JSON del site
    div(class=`${background} pb-6 lg:pb-0`)
        div(class="container p-6 lg:py-[78px] relative")
            div(class="space-y-[24px] lg:space-y-[32px] lg:max-w-[570px]")
                img(src=hero.image alt="Hero image" class="lg:absolute -z-10 bottom-0 right-0 w-4/5 lg:w-[50%] xl:w-[55%] mx-auto h-auto")
                div(class="sr-only lg:not-sr-only lg:!mt-0 text-secondary text-heading-desktop-1 font-bold")!=md(hero.title)
                div(class="hidden lg:block")!=md(hero.text)
                div(class="!mt-0 lg:!mt-8 lg:w-[770px]")
                    div(data-component="SearchBar" data-search="true" data-location="true" data-button="true")
                .flex.flex-col.gap-2
                    div(class="text-dark text-caption-mobile md:text-caption-desktop font-bold")!=md(hero.filter.title)
                    div(class="flex flex-wrap gap-2")
                        each item in hero.filter.items
                            span(class="text-caption-mobile md:text-caption-desktop py-1 px-2.5 rounded-[32px] bg-secondary/10 text-secondary")=item
