mixin searchBar(items)

    form(class="bg-white p-2.5 rounded-lg shadow-md flex flex-col md:flex-row gap-4" novalidate name='search-bar')
        if items.search
            div(class="flex items-center gap-2 w-full flex-grow")
                .flex.items-center.justify-center.w-6.h-6
                    img(src="/assets/images/search-icon.svg" alt="Search" class="w-4 h-4")
                input(
                    type="text"
                    placeholder='Puesto de trabajo o palabra clave'
                    name='search'
                    class="flex-grow text-small-mobile md:text-small-desktop py-1.5 border-b border-secondary/50 placeholder-secondary/50 focus:outline-none focus:ring-0"
                )
        if items.location
            div(class="flex items-center gap-2 w-full flex-grow")
                .flex.items-center.justify-center.w-6.h-6
                    img(src="/assets/images/location-icon.svg" alt="Search" class="w-3.5 h-5")
                select(
                    name='location-select'
                    class="custom-select flex-grow text-small-mobile md:text-small-desktop py-1.5 border-b border-secondary/50 text-secondary/50 focus:outline-none focus:ring-0"
                )
                    option(value='') Selecciona la provincia

        if items.button
            button(
                type="button"
                class="btn btn-primary focus:outline-none focus:ring-0"
            ) Buscar
